@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&family=Sassy+Frass&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.014);
}
.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 50px 0;
}
.header{
    height: 80vh;
    background-image:  -webkit-linear-gradient(135deg, #2948d131 0%, #1423ad67 100%), url("../assets/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
 
}
.header::before{
    content: "";
    position: absolute;
    left:  0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, white 45% ,#c2bdbd 50%);
}

.header-texts{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-direction: column;
    top: 50%;

}
.header-texts h2{
    margin: auto;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
 

}

.form{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;    
}
.form input{
    display: block;
    padding: 15px 20px;
    width: 80%;
    border: 1px #22222434 solid;
    border-radius: 10px;
    color: #1557e7;
    font-size: 18px;
    margin-top: 10px;
}
.form button{
    display: block;
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #1557e7;
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
  
} 
.nav-menu{
    margin-top: 30px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: auto;
}
.nav .nav-items{
    margin:20px;
    color: #1557e7;
     border: none;
     font-size: 18px;
     cursor: pointer;
     text-decoration: none;

}

/*Seies Container*/
.series{
    margin-top: 20px;
    padding: 50px;
}
.series-tilte{
    font-size: 30px;
    color: #1557e7;
    font-weight: 400;
}
.series-container{
    position: relative;
    height: 500px;
    margin: 0;
    padding: 0;
}
.box{
width: 300px;
height: 420px;
border: 1px #22222434 solid;
border-radius:  30px;
position: relative;
}
.box-img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.box-img img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px ;
}
.box-texts{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.box-texts h1{
    font-size: 18px;
    color: #4242449d;
    font-weight: 300;
    margin-top: 2px;
    text-align: center;
}
.box-texts p{
    font-size: 16px;
    font-weight: 400;
    margin: 2px 0;
}
.box-texts h2{
    font-size: 14px;
    color: #4242449d;
    font-weight: 300;
}
.box-porcert{
    width: 40px;
    padding: 12px;
    border-radius: 50%;
    background-color: #1557e7;
    color: #fff;
    position: absolute;
    bottom: 32%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 12px;
    
}

.box-porcert h4{
font-size: 8px;
}
/*Slider*/



.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 430px;
    margin: auto;
  }
  

  
.peliculas{
   margin-top: 250px ;
}

.active{
    color: #04163d;
    font-size: 20px;
    text-decoration: none;

}

/*Page Error*/

.pageError{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}
.pageError h1{
    font-size: 30px;
    color: #04163d;
    font-weight: bold;
}